<a href="https://colab.research.google.com/github/fortune-uwha/DSN---Titanic-project/blob/master/Machine_Learning_Regression_Predicting_Energy_Efficiency_of_Buildings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

**Dataset Description**

The dataset for this quiz is the Appliances Energy Prediction data. The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column. Two random variables have been included in the data set for testing the regression models and to filter out non predictive attributes (parameters). The attribute information can be seen below.

**Attribute Information:**

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â °C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

**Instructions**

To answer some questions, you will need to normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.

In [26]:
#Linear algebra
import numpy as np
#Data processing
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv -P "/content/drive/My Drive/app"

--2020-08-04 17:50:23--  https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11979363 (11M) [application/x-httpd-php]
Saving to: ‘/content/drive/My Drive/app/energydata_complete.csv.2’

energydata_complete 100%[===================>]  11.42M  17.2MB/s    in 0.7s

2020-08-04 17:50:24 (17.2 MB/s) - ‘/content/drive/My Drive/app/energydata_complete.csv.2’ saved [11979363/11979363]

In [28]:
energy_data = pd.read_csv("/content/drive/My Drive/app/energydata_complete.csv")
energy_data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [29]:
energy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [30]:
energy_data.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

## Evaluation Metrics for performance (RSS, R-Squared, RMSE, MAE)


Here are three common evaluation metrics for regression problems:

**Mean Absolute Error** (MAE) is the mean of the absolute value of the errors:

$$\frac 1n\sum_{i=1}^n|y_i-\hat{y}_i|$$

**Residual Sum of Squares (RSS)** (MSE) is the mean of the squared errors:

$$\sum_{i}(y_i-\hat{y}_i)^2$$

**Root Mean Squared Error** (RMSE) is the square root of the mean of the squared errors:

$$\sqrt{\frac 1n\sum_{i=1}^n(y_i-\hat{y}_i)^2}$$

**R-Squared**($R^2$) Also known as the coefficient of determination, r-squared is a metric used in regression to determine the goodness of fit of the model.

$$1- \sum_{i}(y_i-\hat{y}_i)^2$$$/$$$\sum_{i}(y_i-\bar{y}_i)^2$$

Comparing these metrics:

- **MAE** is the easiest to understand, because it's the average error.
- **RMSE** is even more popular than MSE, because RMSE is interpretable in the "y" units.

All of these are **loss functions**, because we want to minimize them.

**Question 12**

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [31]:
X = energy_data.T2.values.reshape(-1,1)
y = energy_data.T6

In [32]:
from sklearn import metrics
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
predictions = lm.predict(X_test)
predictions

array([ 2.15578912, 10.01116055,  1.87391554, ...,  4.24758774,
        8.69822311,  4.9893603 ])

In [34]:
 print(f"RSS: {round(metrics.r2_score(y_test, predictions),2)}")

RSS: 0.64

**Question 13**

What is the Mean Absolute Error (in two decimal places)?

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [36]:
data = pd.read_csv("/content/drive/My Drive/app/energydata_complete.csv")
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [37]:
data[(data.drop(["date",'lights'], axis   =1)).columns] = scaler.fit_transform(data.drop(["date",'lights'], axis   =1))

In [38]:
data.head()

                  date  Appliances  lights  ...  Tdewpoint       rv1       rv2
0  2016-01-11 17:00:00    0.046729      30  ...   0.538462  0.265449  0.265449
1  2016-01-11 17:10:00    0.046729      30  ...   0.533937  0.372083  0.372083
2  2016-01-11 17:20:00    0.037383      30  ...   0.529412  0.572848  0.572848
3  2016-01-11 17:30:00    0.037383      40  ...   0.524887  0.908261  0.908261
4  2016-01-11 17:40:00    0.046729      40  ...   0.520362  0.201611  0.201611

[5 rows x 29 columns]

In [39]:
X= energy_data.drop(["Appliances","date",'lights'], axis=1)
y  = energy_data.Appliances

In [40]:
X.head()

      T1       RH_1    T2  ...  Tdewpoint        rv1        rv2
0  19.89  47.596667  19.2  ...        5.3  13.275433  13.275433
1  19.89  46.693333  19.2  ...        5.2  18.606195  18.606195
2  19.89  46.300000  19.2  ...        5.1  28.642668  28.642668
3  19.89  46.066667  19.2  ...        5.0  45.410389  45.410389
4  19.89  46.333333  19.2  ...        4.9  10.084097  10.084097

[5 rows x 26 columns]

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
lm.fit(X_train,y_train)
prediction  = lm.predict(X_test)

In [42]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,prediction)

53.64297765584962

In [44]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('RSS:', metrics.r2_score(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))
print('MSE:', metrics.mean_squared_error(y_test, predictions))

MAE: 89.71519111216759
RSS: -0.771560175634393
RMSE: 135.09890544799097
MSE: 18251.714253245205

**Question 14**

What is the Residual Sum of Squares (in two decimal places)?

**Question 15**

What is the Root Mean Squared Error (in three decimal places)?

**Question 16**

What is the Coefficient of Determination (in two decimal places)?

**Question 17**

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

**Question 18**

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

**Question 19**

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

**Question 20**

What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [ ]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

In [ ]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)